@import url(https://fonts.googleapis.com/css?family=Manrope:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #121212;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input, button, textarea {
  font-family: inherit;
}

.contacts__mail, .contacts__tel {
  display: block;
  font-size: 60px;
  line-height: 60px;
  font-style: normal;
  padding-top: 2px;
  transition: all 0.2s;
}

html,
body {
  height: 100%;
  line-height: 24.59px;
  font-size: 18px;
  color: #121212;
  font-family: "Manrope";
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
  letter-spacing: -0.03em;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1150px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

.page {
  padding-top: 63px;
}
.page__services {
  background-color: black;
  padding: 158px 0 150px 0;
}
.page__app-project {
  background-image: url("../img/project.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 200px;
  height: 717px;
}
.page > *:not(:last-child) {
  padding-bottom: 146px;
}

.menu__link {
  transition: all 0.2s;
  text-transform: uppercase;
}
.menu__link:hover {
  opacity: 0.5;
}

.title {
  margin-bottom: 30px;
}

.subtitle {
  font-size: 30px;
  line-height: 40.98px;
}

.header {
  margin-top: 24px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 43px;
}
.header .menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.header .menu__link:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.main-block__title {
  font-size: 60px;
  width: 956px;
  line-height: 60px;
  text-align: left;
}
.main-block__box {
  position: relative;
}
.main-block__img-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  line-height: 27.32px;
  font-size: 20px;
  width: 430px;
  height: 81px;
  background-color: rgba(0, 0, 0, 0.1);
}

.about-us__container {
  width: 91.4%;
}
.about-us__button {
  padding-top: 28px;
}
.about-us__button-link {
  font-size: 20px;
  background-color: #AD1818;
  color: white !important;
  padding: 20px 40px;
  border-radius: 5px;
  transition: all 0.5s;
}
.about-us__button-link:hover {
  background-color: rgba(172, 115, 63, 0.7098039216);
  box-shadow: 2px 2px 5px gray;
}
.about-us__text {
  font-size: 45px;
  width: 1048px;
  line-height: 61.47px;
  margin-bottom: 21px;
  margin-left: 2px;
}

.projects {
  margin-top: 25px;
}
.projects__list {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
}
.projects__title {
  margin-bottom: 33px;
}
.projects__list .projects__button {
  display: block;
  text-align: center;
  padding: 60px 0;
  font-size: 30px;
  color: #AD1818;
  border: 1px solid #AD1818;
  border-radius: 5px;
  transition: all 1s;
}
.projects__list .projects__button:hover {
  background-color: #ad1818;
  color: white;
}
.projects .project > *:not(:last-child) {
  margin-bottom: 15px;
}
.projects .project__details {
  vertical-align: top;
  font-size: 20px;
  line-height: 27.32px;
  color: #AD1818;
}

.services__title {
  color: white;
  margin-bottom: 8px;
  margin-left: 2px;
}
.services__list {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding-top: 30px;
}
.services .service__title {
  padding-top: 15px;
  color: white;
  margin-left: 4px;
}

.app-project__container {
  position: relative;
  height: 717px;
}
.app-project__title {
  position: absolute;
  left: 16px;
  bottom: 60px;
  font-size: 30px;
  line-height: 40.98px;
  width: 443px;
  color: white;
}

.contacts {
  padding-bottom: 153px;
  margin-top: -14px;
}
.contacts__title {
  position: relative;
  font-style: normal;
}
.contacts__title::before {
  content: "";
  display: block;
  height: 22px;
  width: 13px;
  background-image: url("/img/tel-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  top: -33px;
}
.contacts__tel {
  margin-top: 32px;
  width: 485px;
  padding-top: 3px;
  padding-bottom: 0px;
  letter-spacing: -0.016em;
}
.contacts__mail {
  margin-top: 25px;
  width: 412px;
  padding-bottom: 6px;
  opacity: 0.5;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.footer {
  background-color: black;
}
.footer__nav {
  padding-top: 60px;
  width: 460px;
  margin: 0 auto;
}
.footer__item_about {
  margin-right: 50px;
}
.footer__item_projects {
  margin-right: 54px;
}
.footer__item_services {
  margin-right: 52px;
}
.footer__list .footer__item-link {
  color: white;
  line-height: 24.59px;
  transition: color 0.5s;
}
.footer__list .footer__item-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer__text {
  padding: 91px 0 36px 5px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.footer .menu__item {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */