/* ------------ FONTS ---------------- */
@import url(https://fonts.googleapis.com/css?family=Manrope:regular);
/* ------------ Обнуление стилей ---------------- */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a, a:visited, a:hover {
    text-decoration: none;
    color: #121212
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
input, button, textarea {
    font-family: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #121212;
    font-family: 'Manrope';
}
html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, a, div {
    letter-spacing: -0.03em;
}
/* ------------ WRAPPER ---------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ------------ Pre-fix ---------------- */
._container {
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
}
._title {
    margin-bottom: 30px;
}
/* ------------ Page ---------------- */
.page {
    padding-top: 63px;
    flex: 1 1 auto;
}
.page > *:not(:last-child) {
    padding-bottom: 150px;
}

/* ------------ Header ---------------- */
.header {
    width: 100%;
    margin-top: 24px;
}
.header__logo img {
    vertical-align: baseline;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 43px;
}
.header__menu {
    padding-right: 2px;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.item-link {
    transition: all .2s;
}
.item-link:hover {
    opacity: .5;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
/* ------------ MAIN BLOCK ---------------- */
.main-block__title {
    font-size: 60px;
    width: 956px;
    line-height: 60px;
    text-align: left;
}
.main-block__box {
    position: relative;
}
.box-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    line-height: 27.32px;
    font-size: 20px;
    width: 430px;
    height: 81px;
    background-color: rgba(0, 0, 0, .1);

}
/* ------------ ABOUT US ---------------- */
.about-us__container {
    width: 91.4%;
}
.about-us__title {
    line-height: 24.59px;
}
.about-us__text {
    font-size: 45px;
    width: 1048px;
    line-height: 61.47px;
    margin-bottom: 21px;
    margin-left: 2px;
}
.about-us__button {
    padding-top: 30px;
}
a.about-us__button_link {
    font-size: 20px;
    background-color: #AD1818;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    transition: all .5s;
}
.about-us__button_link:hover{
    background-color: #ac733fb5;
    box-shadow: 2px 2px 5px gray;
}

/* ------------ PROJECTS ---------------- */
.projects {
    margin-top: 27px;
}
.projects__examples {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
}
.projects__title {
    margin-bottom: 33px;
}
.project > *:not(:last-child){
    margin-bottom: 15px;
}
.project__descript {
    font-size: 30px;
    line-height: 40.98px;
}
a.project__details {
    vertical-align: top;
    font-size: 20px;
    line-height: 27.32px;
    color: #AD1818
}

a.projects__view-all_link {
    display: block;
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    color: #AD1818;
    border: 1px solid #AD1818;
    border-radius: 5px;
    transition: all 1s;
}
.projects__view-all_link:hover {
    background-color: #ad1818;
    color: white;
}

/* ------------ PROJECTS ---------------- */
.page__services {
    background-color: black;
    padding: 154px 0 150px 0;
}
.services__title {
    color: white;
    margin-bottom: 8px;
    margin-left: 2px;
}
.services__list {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 30px;
}
.item__title {
    padding-top: 15px;
    font-size: 30px;
    line-height: 40.98px;
    color: white;
    margin-left: 4px;
}
/* ------------ PROJECT ---------------- */

.page__project {
    background-image: url('img/project.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 200px;
    height: 717px;
}
.page__project__container {
    position: relative;
    height: 717px;
}
.page__project__container h3 {
    position: absolute;
    left: 16px;
    bottom: 60px;
    font-size: 30px;
    line-height: 40.98px;
    width: 443px;
    color: white;



}
/* ------------ CONTACTS ---------------- */
.contacts {
    padding-bottom: 153px;
    margin-top: -15px;
    font-style: normal;
}
.contacts__title {
    font-size: 18px;
    line-height: 24.59px;
    position: relative;
}
.contacts__title::before {
    content: '';
    display: block;
    height: 22px;
    width: 13px;
    background-image: url('/img/tel-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    top: -33px;


}
.contacts__tel, .contacts__mail {
    display: block;
    font-size: 60px;
    line-height: 60px;
    font-style: normal;
    padding-top: 2px;
    transition: all 0.2s;
}
.contacts__tel {
    width: 485px;
    padding-top: 3px;
    padding-bottom: 0px;
    letter-spacing: -0.016em;
}
.contacts__mail {
    width: 412px;
    padding-top: 0;
    padding-bottom: 6px;
    opacity: .5;
    border-bottom: 2px solid rgba(0, 0, 0, .5)
}
/* .contacts__mail:hover, .contacts__tel:hover {
    
} */
/* ------------ FOOTER ---------------- */
.footer {
    background-color: black;
}
.footer__nav {
    padding-top: 60px;
    width: 460px;
    margin: 0 auto;
}
.footer__nav__about {
    display: inline-block;
    margin-right: 51px;
}
.footer__nav__projects {
    margin-right: 54px;
    display: inline-block;
}
.footer__nav__services {
    margin-right: 52px;
    display: inline-block;
}
.footer__nav__contacts {
    display: inline-block;
}
a.footer__nav__link {
    color: white;
    line-height: 24.59px;
    transition: color .5s;
}
.footer__nav__link:hover {
    color: rgba(255, 255, 255, .5)
}
.footer p {
    padding: 91px 0 36px 5px;
    font-size: 20px;
    color: rgba(255, 255, 255, .5);
    text-align: center;
}


/* ------------ @MEDIA ---------------- */

@media (max-width: 1200px) {
    .header__container {
        padding: 0 20px;
    }

    .menu-list {
        gap: 30px;
        font-size: 1.2em;
    }
    .main-block__title {
        font-size: 40px;
        text-align: center;
        line-height: 1;
        max-width: 85%;
    }
    .page {
        padding-top: 25px;
    }
    img {
        width: 100%;
    }
    .page__project__title {
        padding-left: 20px;
    }
    .footer__nav__link {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .main-block__title {
        font-size: 30px;
    }
    p.about-us__text {
        font-size: 30px;
    }
    .footer__nav__link {
        font-size: 24px;
    }
}