/* ------------ Обнуление стилей ---------------- */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #121212
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
    letter-spacing: -0.03em;
    font-size: 18px;
    color: #121212;
    font-family: 'Manrope';
    font-weight: 400;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ------------ Pre-fix ---------------- */
._container {
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 15px 0;
}
._active-link {
    color: gray;
    text-decoration: underline;
}
._title {
    margin-bottom: 30px;
}
/* ------------ Header ---------------- */
.header {
    width: 100%;
    margin-top: 26px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 43px;

}
.header__logo {

}
.logo {

}
.header__menu {

}
.menu-list {
    display: flex;
    gap: 60px;
}
.menu-list__item {

}
.item-link {
    
}
/* ------------ Page ---------------- */
.page {
    flex: 1 1 auto;
}

.page > *:not(:last-child) {
    margin-bottom: 150px;
}
.page__about-us {

}
/* ------------ MAIN BLOCK ---------------- */
.main-block {
}
.main-block__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
}
.main-block__box {
    position: relative;
}
.box__text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    line-height: 27.32px;
    font-size: 20px;
    width: 430px;
    height: 81px;
}
.box__img {
    
}

/* ------------ ABOUT US ---------------- */
.about-us__container {
    width: 91.4%;
}
.about-us__container > *:not(:last-child){
    margin-bottom: 30px;
}
.about-us__title {
    line-height: 24.59px;
}
.about-us__text {
    font-size: 45px;
    line-height: 61.47px;
}
.about-us__button {
}
.about-us__button_link {
    background-color: #AD1818;
    color: white;
    padding: 20px 40px;
}

/* ------------ PROJECTS ---------------- */
.page__projects {
}
.projects {
}
.projects__container {
}
._container {
}
.projects__title {
}
.subtitle {
}
.projects__examples {
    display: flex;
    flex-direction: column;
    row-gap: 90px;
}
.project {
    
}
.project > *:not(:last-child){
    margin-bottom: 15px;
}
.project__img {
}
.project__descript {
    font-size: 30px;
    line-height: 40.98px;
}
.project__details {
    vertical-align: top;
    font-size: 20px;
    line-height: 27.32px;
    color: #AD1818
}
.project__details:hover{
    text-shadow: 0px 1px 1px #8d8c8c;
    
}
.projects__view-all{
    position: relative;
    border: 1px solid #AD1818;
    width: 100%;
    height: 153px;
}
.projects__view-all_link {
    font-size: 30px;
    color: #AD1818;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/* ------------ PROJECTS ---------------- */
.page__services {
    background-color: black;
    padding: 150px 0;
}
.services__container {
}
.services__title {
    color: white;
}
.services__list {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}
.services__list-item {
}
.item {
}
.item__img {
    margin-bottom: 15px;
}
.item__title {
    font-size: 30px;
    line-height: 40.98px;
    color: white;
}
/* ------------ PROJECT ---------------- */
.page__project {
}
.page__project img {
    margin-top: -150px;
    width: 100%;
    object-fit: cover;
}
.page__project__container {
    position: relative;
    padding-bottom: -150px;
}
.page__project__container h3 {
    position: absolute;
    bottom: 100px;
    left: 0;
    font-size: 30px;
    line-height: 40.98px;
    color: white;
    z-index: 5;
    max-width: 443px;
}
/* ------------ CONTACTS ---------------- */
.contacts__tel, .contacts__mail {
    font-size: 60px;
    line-height: 60px;
}
/* ------------ FOOTER ---------------- */
.footer {
    height: 227px;
    background-color: black;
}
.footer__nav {
    display: flex;
    justify-content: center;
    column-gap: 55px;
}
.footer__nav__link {
    color: white;
    line-height: 24.59px;
}