.calculator {
    padding-top: 150px;
    padding-bottom: 0px;
    &__content-wrapper {
        display: flex;
        column-gap: 10px;
    }
    &__title {
        margin-bottom: 61px;
        display: block;
        font-size: 45px;
        line-height: 45px;
        flex-grow: 100%;
    }
    &__subtitle {
        margin-bottom: 60px;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

}
.design {
    & > * {
        border-top: 1px solid rgba(0, 0, 0, .4);
        & > *:first-child {
            padding-top: 20px;
        }
        &:not(:last-child) {
            padding-bottom: 60px;
        }
}
    .flat {
        &__type {
            margin-bottom: 62px;
        }
        &__type-title {
        }
        &__type-list {
            margin-left: 236px;
            width: 160px;
            letter-spacing: -0.09px;
            font-weight: 400;
            font-style: inherit;
            font-size: 30px;
            line-height: 41px;

        }
        &__size {
            display: flex;
            .slider {
                width: 257px;
                margin-left: 200px;
                &__value {
                    display: flex;
                    justify-content: space-between;
                }
                &__range {
                    width: 257px;
                }

            }
        }
    }
    .composition {
        &__label {
        }
        &__list {
            display: flex;
            flex-direction: column;
            & > * {
                display: flex;
            }
        }
        & > * {
            font-size: 30px;
            row-gap: 40px;
        }
        .planning-solution {
            column-gap: 241px;
        }
        .draw-options {
            column-gap: 315px;
        }
        .visual-options {
            column-gap: 258px;
        }
    }
    
    .what-needs-add {
        &__list > * {
            margin-bottom: 20px;
        }
        &__option {
            padding: 20px;
            width: 100%;
            display: block;
            border: 1px solid rgba(0, 0, 0, .3);
            border-radius: 5px;
            background-color: transparent;
            text-align: left;
        }
    }
    
    .additional-services {
        .calculator__subtitle {
            margin-bottom: 20px;
        }
        .calculator__description {
            margin-bottom: 61px;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: -0.06em;
        }
        .addit-service {
            display: flex;
            justify-content: space-between;
            .additional-wrapper {
                display: flex;
            }
            &__button {
                background-color: transparent;
            }
            &__img {

            }
            &__title {
                margin-left: 20px;
            }
            &__price {
                color: $red-color;
            }
        }
        .addit-service:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    

}

.total {
    padding: 20px;
    width: 280px;
    height: 410px;
    border-radius: 5px;
    background-color: #F6F6F6;
    &__title {
        margin-bottom: 10px;
        font-size: 18px;
        letter-spacing: -0.54px;
        text-transform: uppercase;
    }
    &__result-price {
        margin-bottom: 5px;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -1.8px;
    }
    &__metr-price {
        margin-bottom: 105px;
    }
    &__deadline {
        margin-bottom: 10px;
        font-size: 20px;
    }
    &__order-project-btn {
        padding: 20px 40px;
        width: 100%;
        background-color: $red-color;
        border-radius: 5px;
        color: #fff;
    }
}

.quantity-selector {
    display: flex;
    column-gap: 15px;
    align-items: center;
    color: $red-color;

    &__subtract, &__add {
        color: $red-color;
        background-color: transparent;
    }
}


.what-needs-add_red {
    border: 1px solid $red-color !important;
    color: $red-color;
    position: relative;
    
}

.what-needs__img {
    width: 22px;
    position: absolute;
    right: 20px;
    top: 25px;
}


