.reviews {
    &__title {
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 113px;
    }
    
    .review {
        &:last-child {
            margin-right: 290px;
        }
        margin-left: -2px;
        flex: 1 0 50%;


        &__title {
            margin-bottom: 14px;
            font-size: 45px;
            line-height: 60.5px;
        }

        &__text {
            text-align: left;
            font-size: 22px;
            line-height: 30.3px;
        }
    }
}