.menu__link {
    transition: all .2s;
    text-transform: uppercase;

    &:hover {
        opacity: .5;
    }
}

.black-back {
    background-color: #000;
}

.title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 30px;
    line-height: 40.98px;
}

.button {
    display: block;
    text-align: center;
    padding: 54px 0;
    font-size: 30px;
    line-height: 40.98px;
    border-radius: 5px;
    transition: all .5s;
}

button {
    cursor: pointer;
    font: inherit;
}