html,
body {
    height: 100%;
    line-height: 24.59px;
    font-size: 18px;
    color: #121212;
    font-family: 'Manrope';
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
    letter-spacing: -0.03em;
}

._container {
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: content-box;
}

.page {
    padding-top: 60px;

    &>* {
        padding-bottom: 150px;
    }

    &__services,
    &__reviews,
    &__contacts {
        padding-top: 150px;
    }

}