@import "reset/reset";
@import "templates/temps";
@import "vars/vars";
@import url(https://fonts.googleapis.com/css?family=Manrope:regular);


// Initial styles
html,
body {
    height: 100%;
    line-height: 24.59px;
    font-size: 18px;
    color: #121212;
    font-family: 'Manrope';
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
    letter-spacing: -0.03em;
}

._container {
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: content-box;
}

.page {
    padding-top: 60px;

    &>* {
        padding-bottom: 150px;
    }

    &__services,
    &__reviews,
    &__contacts {
        padding-top: 150px;
    }

}

// Common styles
.menu__link {
    transition: all .2s;
    text-transform: uppercase;

    &:hover {
        opacity: .5;
    }
}

.black-back {
    background-color: #000;
}

.title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 30px;
    line-height: 40.98px;
}

.button {
    display: block;
    text-align: center;
    padding: 54px 0;
    font-size: 30px;
    line-height: 40.98px;
    border-radius: 5px;
    transition: all .5s;
}

// Layout
.header {
    margin-top: 24px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 43px;
    }

    .menu {
        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
        }

        &__link:hover {
            border-bottom: 1px solid rgba(0, 0, 0, .5);
        }
    }
}

.main-block {
    &__title {
        font-size: 60px;
        text-transform: none;
        width: 956px;
        line-height: 60px;
        text-align: left;
    }

    &__box {
        position: relative;
        height: 500px;
        background-image: url('../img/main-block/main-pict2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    &__img-text {
        position: absolute;
        bottom: 40px;
        left: 40px;
        color: #fff;
        line-height: 27.32px;
        font-size: 20px;
        max-width: 430px;
        height: 81px;
    }
}

.about-us {
    &__text {
        font-size: 45px;
        max-width: 1048px;
        line-height: 61.47px;
        margin-bottom: 21px;
        margin-left: 3px;
        margin-bottom: 48px;
    }

    &__button {
        padding: 20px 40px;
        font-size: 20px;
        background-color: $red-color;
        color: #fff !important;
        border-radius: 5px;
        transition: all .5s;

        &:hover {
            background-color: white;
            color: $red-color !important;
            border: 1px solid $red-color;
        }
    }
}

.projects {
    margin-top: 25px;

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 90px;
    }

    &__title {
        margin-bottom: 28px;
    }

    &__button {
        margin-top: 90px;
        color: $red-color !important;
        border: 1px solid $red-color;

        &:hover {
            background-color: $red-color;
            color: #fff;
        }
    }

    .project {
        &__img {
            height: 450px;
            object-fit: cover;
            object-position: 50% 70%;
            margin-bottom: 15px;
        }

        &__title {
            margin-bottom: 15px;
        }

        &__details {
            vertical-align: top;
            font-size: 20px;
            line-height: 27.32px;
            color: $red-color;
        }

    }

}

.services {
    &__title {
        color: #fff;
        margin-bottom: 8px;
        margin-left: 2px;
        margin-bottom: 32px;
    }

    &__list {
        margin-bottom: 108px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 11px;
        row-gap: 45px;

    }

    .service {
        position: relative;
        flex: 1 0 49%;

        &__img {
            height: 389px;
            margin-bottom: 25px;
        }

        &__title {
            max-width: 250px;
            color: #fff;
            margin-left: 3px;
        }

        &__price {
            padding: 5px 20px;
            position: absolute;
            top: 32px;
            left: 30px;
            display: inline-block;
            border-radius: 5px;
            font-size: 22px;
            line-height: 30.05px;
            color: #fff;
            background-color: $red-color;
        }

        &:nth-child(3),
        &:nth-child(4) {
            .service__img {
                margin-bottom: 17px;
            }
        }
    }

    &__container &__button {
        color: #fff;
        background-color: $red-color;

        &:hover {
            color: $red-color;
            background-color: #fff;
            border: 1px solid $red-color;
        }
    }
}

.reviews {
    &__title {
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 83px;
    }

    .review {
        margin-left: -2px;
        flex: 1 0 46%;


        &__title {
            margin-bottom: 14px;
            font-size: 45px;
            line-height: 60.5px;
        }

        &__text {
            text-align: left;
            font-size: 22px;
            line-height: 30.3px;
        }

        &:nth-child(1) {
            max-width: 528px;
            margin-right: 54px;
        }

        &:nth-child(2) {
            max-width: 505px;
        }

        &:nth-child(3) {
            margin-right: 290px;
        }
    }
}

.gallery {
    background-image: url("../img/gallery/project.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 717px;

    &__container {
        margin-top: 10px;
        position: relative;
        height: 717px;
    }

    &__title {
        position: absolute;
        top: 60px;
        color: #fff;
        font-size: 22px;
        line-height: 30.05px;
    }

    &__subtitle {
        position: absolute;
        bottom: 60px;
        font-size: 30px;
        line-height: 40.98px;
        width: 443px;
        color: white;
    }
}

.contacts {
    &__title {
        font-style: normal;
        margin-bottom: 74px;
    }

    &__communication {
        display: flex;
    }

    &__tel {
        @extend %contact;
        position: relative;
        letter-spacing: -0.02em;
        margin-right: 108px;

        &::before {
            background-image: url('../img/contacts/tel-icon.png');
            @extend %contact-icon;
            top: -48px;
            width: 12px;
        }
    }

    &__mail {
        @extend %contact;
        position: relative;
        margin-top: -12px;
        color: rgba(0, 0, 0, .5);
        border-bottom: 1px solid rgba(0, 0, 0, .5);

        &::before {
            background-image: url('../img/contacts/mail-icon.png');
            width: 22px;
            @extend %contact-icon;
        }
    }
}

.footer {
    &__nav {
        padding-top: 57px;
        width: 460px;
        margin: 0 auto;
    }

    &__item_about {
        margin-right: 50px;
    }

    &__item_projects {
        margin-right: 54px;
    }

    &__item_services {
        margin-right: 52px;
    }

    &__list &__item-link {
        color: white;
        line-height: 24.59px;
        transition: color .5s;

        &:hover {
            color: rgba(255, 255, 255, .5)
        }
    }

    &__text {
        padding: 91px 0 36px 5px;
        font-size: 20px;
        color: rgba(255, 255, 255, .5);
        text-align: center;
    }

    .menu__item {
        display: inline-block;
    }
}

// MEDIA QUERY
@media (max-width: 1150px) {
    ._container {
        padding: 0 16px;
    }


}

@media (max-width: 960px) {
    .page {
        &>*:not(:last-child) {
            padding-bottom: 120px;
        }

        &__projects {
            margin-top: 20px;
            padding-bottom: 103px !important;
        }

        &__reviews {
            padding-top: 120px;
        }

        &__contacts {
            padding: 120px 0 80px;
        }
    }

    .subtitle {
        font-size: 25px;
        line-height: 34.15px;
        margin-bottom: 10px !important;
    }
    .title {
        margin-bottom: 30px;
    }

    .header {
        &__menu {
            display: none;
        }
    }

    .main-block {
        &__title {
            font-size: 50px;
            max-width: 802px;
        }

        &__box {
            height: 400px;
        }

        &__img-text {
            bottom: 30px;
        }
    }

    .about-us {
        &__text {
            max-width: 690px;
            font-size: 35px;
            line-height: 47.81px;
            margin-bottom: 55px;
        }
    }

    .projects {
        &__list {
            row-gap: 80px;
        }

        &__button {
            margin-top: 102px;
        }

        .project {
            &__img {
                margin-bottom: 15px;
            }
        }
    }

    .services {
        &__list {
            margin-bottom: 72px;
            row-gap: 80px;
        }

        .service {
            &__img {
                height: 315px;
                margin-bottom: 15px;
            }
            &__title {
                max-width: 100%;
                margin-left: 0;
            }
            &__price {
                left: 32px;
                padding: 7px 27px 6px 26px;
                font-size: 20px;
                line-height: 27.32px;
            }
            &:nth-child(3), &:nth-child(4) {
                .service__img {
                    margin-bottom: 14px;
                }
                .service__title {
                    font-size: 30px;
                    line-height: 40.98px;
                }
            }
        }
    }

    .reviews {
        &__list {
            column-gap: 10px;
            row-gap: 78px;
        }

        .review {
            &__title {
                font-size: 35px;
                line-height: 47.81px;
                margin-bottom: 25px;
            }

            &__text {
                font-size: 20px;
                line-height: 27.3px;
            }

            &:nth-child(1) {
                max-width: 459px;
                margin-right: 4px;
            }
    
            &:nth-child(2) {
                max-width: 460px;
            }
    
            &:nth-child(3) {
                margin-right: 250px;
            }
        }
    }

    .gallery {
        height: 536px;

        &__container {
            height: 536px;
            margin-top: 0;
        }

        &__title {
            top: 80px;
            left: 50px;
            font-size: 20px;
            line-height: 27.32px;
        }

        &__subtitle {
            bottom: 80px;
            left: 50px;
            font-size: 25px;
            line-height: 34.15px;
            width: 375px;
        }
    }

    .contacts {
        &__title {
            margin-bottom: 73px;
        }
        &__tel {
            font-size: 45px;
            margin-right: 118px;
        }

        &__mail {
            font-size: 45px;
            margin-bottom: 10px;
            border-bottom: 2px solid rgba(0, 0, 0, .5);
        }
    }
}

@media (max-width: 810px) {
    .main-block__title {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    ._container {
        padding: 0 13px;
    }

    .page {
        padding-top: 51px;

        &>*:not(:last-child) {
            padding-bottom: 80px;
        }

        &__projects {
            padding-bottom: 144px !important;
        }

        &__services {
            padding: 80px 0;
        }

        &__reviews {
            padding-top: 80px;
        }

        &__projects-gallery {
            height: 408px;
        }

        &__contacts {
            padding-top: 80px;
        }
    }

    //COMMON STYLES 
    .title {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .subtitle {
        font-size: 18px;
        line-height: 24.59px;
    }

    .button {
        font-size: 22px;
        line-height: 30.05px;
        padding-top: 36.21px;
        padding-bottom: 37.93px;
    }

    .header {
        &__logo {
            width: 96px;
        }

        &__menu {
            display: none;
        }
    }

    .main-block {
        &__title {
            margin-bottom: 25px;
            width: 100%;
            font-size: 30px;
            line-height: 31.62px;
        }

        &__box {
            height: 304px;
        }

        &__img-text {
            left: 15px;
            bottom: 15px;
            max-width: 312px;
            font-size: 16px;
            line-height: 21.86px;
        }
    }

    .about-us {
        &__text {
            max-width: 98%;
            font-size: 22px;
            line-height: 30.05px;
        }

        &__button {
            padding: 14.5px 27px;
            font-size: 16px;
        }
    }

    .projects {
        &__list {
            row-gap: 49px;
        }

        .project {
            &__img {
                height: 250px;
                margin-bottom: 20px;
            }

            &__title {
                margin-bottom: 11px;
            }

            &__details {
                font-size: 16px;
                line-height: 21.86px;
            }
        }

        &__button {
            margin-top: 60px;
        }
    }

    .services {
        &__list {
            margin-bottom: 60px;
            flex-direction: column;
            row-gap: 60px;
        }

        .service {
            &__img {
                height: 240px;
                margin-bottom: 10px;
            }

            &__price {
                top: 23px;
                left: 24px;
                font-size: 14px;
                line-height: 19.12px;
            }
        }
    }

    .reviews {
        &__list {
            flex-direction: column;
            row-gap: 80px;
        }

        .review {
            &:not(:last-child) {
                margin-bottom: 0px;
            }

            &__title {
                margin-bottom: 10px;
                font-size: 25px;
                line-height: 34.15px;
            }

            &__text {
                font-size: 16px;
                line-height: 21.86px;
            }

            &:nth-child(3) {
                margin-right: 0;
            }
        }
    }

    .gallery {
        &__container {
            height: 408px;
        }

        &__title {
            top: 61px;
            left: 12px;
            font-size: 14px;
            line-height: 19.12px;
        }

        &__subtitle {
            bottom: 60px;
            left: 13px;
            font-size: 19px;
            line-height: 25.97px;
        }
    }

    .contacts {
        &__title {
            margin-bottom: 0;
        }

        &__communication {
            // width: 100%;
            flex-direction: column;
        }

        &__tel,
        &__mail {
            font-size: 35px;
            line-height: 45.62px;
            margin-top: 58px;

            &::before {
                top: -32px;
            }
        }

        &__tel {
            margin-right: 0;

            &::before {
                height: 16.5px;
                width: 9.75px;
            }

        }

        &__mail {
            padding-bottom: 0;
            border-bottom: 0;
            color: #000;

            &::before {
                width: 15px;
                height: 12px;
            }
        }
    }

    .footer {
        &__nav {
            padding-top: 30px;
            margin: 0 auto;
        }

        &__list {
            display: flex;
            column-gap: 30px;
            justify-content: center;

        }

        .menu__item {
            margin-right: 0;
        }

        &__item-link {
            font-size: 12px;
            line-height: 16.39px;
        }

        &__text {
            padding-top: 41px;
            padding-bottom: 26px;
            font-size: 13px;
            line-height: 17.76px;
        }
    }
}