%contact {
    display: block;
    font-size: 60px;
    line-height: 60px;
    font-style: normal;
    padding-top: 2px;
    transition: all 0.2s;
}

%contact-icon {
    position: absolute;
    top: -36px;
    content: '';
    display: block;
    height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

%absolute-position {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

%popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
}

%popup-window-open {
    visibility: visible;
    opacity: 1;
}
